NODE_ENV=development
PORT=3000

DATABASE_URL=postgres://payroll:payroll@localhost:5432/payroll
DATABASE_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=6379

PROVIDER_FAILURE_RATE=0.3
PROVIDER_LATENCY_MS=1500

JOB_ATTEMPTS=5
JOB_BACKOFF_MS=1000


WORKER_CONCURRENCY=5

STUCK_EVENT_TIMEOUT_MS=120000
